.header {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.inner-header {
  justify-content: center;
}

.panels-container {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin: 0 auto;
  width: 60%;
  height: 100%;
  margin-top: 50px;
}

.title {
  color: #f5f5f5;
}

.panel {
  width: 50%;
  padding: 10px;
  box-sizing: border-box;
  min-width: 200px;
  border-radius: 20px;
  margin-bottom: 20px;
}

@media (max-width: 600px) {
  .panels-container {
    flex-direction: column;
    align-items: center;
  }
}

.panel-title {
  margin: 10px auto;
}

.panel-content {
  margin: 15px auto;
}

.execute-button {
  background-color: #f5f5f5;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid black;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

.execute-button:hover {
  background-color: lightgray;
}

.chain-selector {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 20px;
}

.chain-selector:focus {
  outline: none;
  border-color: #4a90e2;
}

.panel-full {
  width: 60%;
  padding: 10px;
  box-sizing: border-box;
  min-width: 200px;
  border-radius: 20px;
  margin: 20px auto;
  color: white;
}

.contract-row {
  width: 90%;
  padding: 10px;
  box-sizing: border-box;
  min-width: 200px;
  border-radius: 5px;
  margin: 20px auto;
  color: white;
  border: 1px solid white;
}

.contract-row-title {
  display: inline-flex;
  align-items: center;
  width: 100%;
  justify-content: flex-start;
  gap: 30px;
}

.contract-details {
  width: 100%;
  display: inline-flex;
}

.code-inline {
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  font-family: monospace;
  overflow-x: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.caret {
  transition: transform 0.15s ease-in-out;
}

.rotate-caret {
  transform: rotate(90deg);
}
