body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #121212;
}

.block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

a {
  text-decoration: underline;
  color: white;
}

a:hover {
  color: slategrey;
}
